@charset "UTF-8";

	#container1 {
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: relative;
	}
	
	#container2 {
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: -15px;
		overflow: auto;
		
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}

	html, body, footer {
        height: 100%;
		background-color: #d1e5e1;
        margin: 0;
        padding: 0;
		
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
     }
	 
	.noFill {
		fill: none;
	}
	 
	::-webkit-scrollbar { 
		display: none; 
	}
	 
	body, input, button {
		font-family: 'Roboto', sans-serif;
	}

	header {
		width: 100%;
		height: 80px;
		position: fixed;
		padding: 15px;
		top: 0;
		left: 0;
		z-index: 5;
		background: #07889b;
		box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
		
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	header h1 {
		float: left;
		color: #fff;
		font-weight: 400;
		text-indent: 18px;
		padding: 5px 20px 0 0;
		cursor: pointer;
		
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	header .flowIcon {
		width: 60px;
		fill: #fff;
		padding: 0 6px 0 0;
		cursor: pointer;
		
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	header input {
		width: 30%;
		height: 50px;
		float: right;
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		text-indent: 18px;
		padding: 0 50px 0 0;
		margin: 0 12px 0 0;
		background: rgba(255, 255, 255, 0.2);
		border-radius: 10px 25px 25px 10px;
		border: 0px;
		box-shadow: none;
		outline: none;
		
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	header input::-webkit-input-placeholder {
		color: #fff;
	}

	header input:-moz-input-placeholder {
		color: #fff;
	}

	header input::-moz-input-placeholder {
		color: #fff;
	}

	header input:-ms-input-placeholder {
		color: #fff;
	}
	
	header button {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 2;
		border-radius: 25px;
		background: #fff;
		border: 0px;
		box-shadow: none;
		outline: none;
		cursor: pointer;
		
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	header button svg {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -8px 0 0 -8px;
	}
	
	header button svg .fill {
		fill: #07889b;
	}
	
	#mapContainer {
		height: 100%;
		width: 100%;
		overflow: hidden;
		
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	a[href^="http://maps.google.com/maps"]{display:none !important}
	a[href^="https://maps.google.com/maps"]{display:none !important}

	.gmnoprint a, .gmnoprint span, .gm-style-cc {
		display:none;
	}
	.gmnoprint div {
		background:#fff !important;
	}

	#mapContainer #map {
        height: 100%;
		width: 69%;
		float:left;
		
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
    }
	
	#legend {
        padding: 10px;
        margin: 50px 10px 10px 10px;
    }
	
    #legend img {
        vertical-align: middle;
    }
	 
	#mapContainer #riverList {
		 height: 100%;
		 width: 31%;
		 float: right;
		 padding: 130px 20px 0 20px;
		 
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	 
	#mapContainer nav #riverList {
		height: 750px;
		width: 31%;
		overflow: hidden;
		overflow-y: scroll;
		position: absolute;
		right: -17px;
		bottom: 20px;
		
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	 
	#mapContainer #riverList li {
		margin: 0 14px 10px 0;
		padding:7px 0 7px 7px;
		cursor: pointer;
		color: #fff;
		background: #07889b;
		border-radius: 5px;
		position: relative;
		box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.1);
		
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	#mapContainer #riverList li .buttons {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		right: 0;
		
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	#mapContainer #riverList li .buttons button {
		height: 25px;
		width: 25px;
		fill: #fff;
		float: right;
		padding: 7px 5px 0 0;
		
		background: none;
		position: relative;
		border: 0px;
		box-shadow: none;
		outline: none;
		cursor: pointer;
		
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	#mapContainer #riverList li .buttons button svg .fill {
		-webkit-transition: fill 0.2s ease;
		-moz-transition: fill 0.2s ease;
		transition: fill 0.2s ease;
	}
	
	#mapContainer #riverList li .buttons button.remove svg .fill {
		fill: #c0cecb;
	}
	
	#mapContainer #riverList li .buttons button.remove:hover svg .fill {
		fill: #e85656;
	}
	
	footer {
		width: 100%;
		height: 150px;
		position: absolute;
		z-index: 5;
		padding: 10px 20% 0 20%;
		
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	footer .above ul .horizontalList {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		position: absolute;
		
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	footer .above ul .verticalList {
		float: left;
		font-size: 12px;
		padding:2% 5% 0 0;
		
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	footer .above ul a {
		color: #blue;
		text-decoration: none;
	}
	
	footer .below {
		font-size: 12px;
		position: absolute;
		float: left;
		padding: 100px 0 10px 0;
	}
	footer .bottom {
		font-size: 12px;
		position: absolute;
		float: left;
		padding: 116px 0 10px 0;
	}
	
	